:root {
    --type-color: #ad378a;
    --keyword-color: #3873ad;
    --ability-color: #6e4fc9;
    --function-color: #ad7c37;
    --comment-color: #697070;
}

@font-face {
    font-family: "Avenir Next W01";
    font-style: normal;
    font-weight: 400;
    src: url("https://fast.fonts.net/dv2/14/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2?d44f19a684109620e484167ba790e8180fd9e29df91d80ce3d096f014db863074e1ea706cf5ed4e1c042492e76df291ce1d24ec684d3d9da9684f55406b9f22bce02f0f30f556681593dafea074d7bd44e28a680d083ccfd44ed4f8a3087a20c56147c11f917ed1dbd85c4a18cf38da25e6ac78f008f472262304d50e7e0cb7541ef1642c676db6e4bde4924846f5daf486fbde9335e98f6a20f6664bc4525253d1d4fca42cf1c490483c8daf0237f6a0fd292563417ad80ca3e69321417747bdc6f0969f34b2a0401b5e2b9a4dfd5b06d9710850900c66b34870aef&projectId=f750d5c7-baa2-4767-afd7-45484f47fe17") format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap');

* {
    box-sizing: border-box
}

html,
body {
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    margin: 0;
}

body {
    width: 100%;
    background-color: #ffffff;
    font: 16px/1.875 "Avenir Next W01", "Avenir Next", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

#container-movedoc {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#container-movedoc .sidebar {
    height: 100%;
    width: 280px;
    padding: 0px 30px 100px 30px;
    position: fixed;
    z-index: 1;
    background-color: #ffffff;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

#container-movedoc main {
    margin-left: 280px;
    padding: 10px 15px 40px 45px;
    overflow-x: hidden;
}

a {
    color: #0095dd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: inherit;
}

p,
ul,
ol,
blockquote {
    margin-bottom: 1em;
}

p {
    max-width: 800px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

h1 {
    color: #4b484f;
    font-size: 40px;
    font-weight: 500;
    padding: 20px 12px;
    margin: 12px 0;
    border-bottom: 1px dashed #c7c7c7;
}

h2 {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 16px 0;
    margin: 12px 0;
    border-bottom: 1px solid #ececec;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 12px 0;
}

h4 {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 12px 0;
}

h5 {
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
    margin: 12px 0;
}

h6 {
    font-size: 14px;
    margin: 8px 0;
}

section {
    display: block;
    max-width: 1400px;
    background-color: #fff;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

nav .logo {
    margin-top: 40px;
    width: 100%;
}

nav h2 {
    font-size: 16px;
}

nav ul {
    font-size: 18px;
    line-height: 17px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    border: none;
    padding-left: 0;
}

nav ul li {
    border-bottom: 1px solid #e2e2e2;
    margin: 20px 0;
}

nav ul li a,
nav ul li a:active {
    color: inherit;
}

nav ul.methods {
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    padding-left: 10px;
    margin: 14px 0;
}

nav ul.methods li {
    margin: 10px 0;
    border: 0;
}

footer {
    background-color: #fff;
    color: hsl(0, 0%, 28%);
    margin-left: 300px;
    display: block;
    font-style: italic;
    font-size: 12px;
    padding: 30px;
    text-align: center;
}

.hidden {
    display: none !important;
}

.description {
    margin: 12px 0 12px 24px;
}

.params {
    border-spacing: 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;
    font-size: 14px;
}

.params th {
    font-weight: 500;
}

.params td,
.params th {
    margin: 0px;
    text-align: left;
    vertical-align: top;
    padding: 10px;
    display: table-cell;
}

.params td {
    border-top: 1px solid #eee;
}

.params td.description>p:first-child {
    margin-top: 0;
    padding-top: 0;
}

.params td.description>p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

table {
    border-collapse: separate;
    display: block;
    overflow-x: auto;
}

table tbody td {
    border-top: 1px solid hsl(207, 10%, 86%);
    border-right: 1px solid #eee;
    padding: 5px;
}

td.last {
    border-right: 0;
    width: 100%;
}

td table {
    border: 0;
}

/* Details */

details {
    position: relative;
    margin-bottom: 24px;
}

details.toggle>summary {
    list-style: none;
    outline: none;
}

details.toggle>summary::marker {
    display: none;
}

details.toggle>summary::before {
    background: url("./toggle-plus.svg");
    content: "";
    cursor: pointer;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 4px;
    left: -24px;
}

details.toggle[open]>summary::before {
    background: url("./toggle-minus.svg");
}

/* Search */

#search-input {
    background: transparent;
    border: 1px solid #c7c7c7;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
}

#search-results>a {
    display: flex;
    border-bottom: 1px solid #c7c7c7;
    gap: 16px;
}

#search-results>a>div {
    flex: 1;
}

#search-results .description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: initial;
    margin: 0;
}

/* Code display */

pre,
code,
.code-header {
    color: #000000;
    font-family: 'Source Code Pro', monospace;
}

code {
    font-size: 100%;
    line-height: 18px;
    background-color: #fbfbfb;
}

pre code {
    display: block;
    padding: 15px;
    overflow-x: auto;
}

.code-header a,
code a {
    color: inherit;
}

/* Highlight.js */

.code-header .ability,
code .ability {
    color: var(--ability-color) !important;
}

.hljs-type,
.hljs-class .hljs-title {
    color: var(--type-color) !important;
}

.code-header .function,
code .function {
    color: var(--function-color) !important;
}

.hljs-comment {
    color: var(--comment-color) !important;
}

.hljs-attribute,
.hljs-doctag,
.hljs-keyword,
.hljs-name,
.hljs-selector-tag {
    color: var(--keyword-color) !important;
}